[Unit]
Description = login Service
[Service]
User=todoapp
Environment=AUTH_API_PORT=LOGIPORT
Environment=USERS_API_ADDRESS=http://USERSENDPOINT:8080
ExecStart=/root/go/src/login/login
Restart=on-failure
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target